html {
    font-family: 'Source Sans Pro', sans-serif;
    color: lightgrey;
    margin-top: 15px;

}

a {
    color: currentColor;
    cursor: pointer;
    text-decoration: none;
}

.max-viewport {
    min-height: 100vh;
}

.navLogo {
    color: black;
}

a.hover {
    text-decoration: none;
    color: none;
}

p {
    font-size: 14px;
}

.nav-link {
    font-size: 14px;
}

.face {
    opacity: 0.5;
    transform: rotateX(360deg) rotateY(180deg);
}

h4 {
    font-family: 'Noto Sans', sans-serif;
}